#root>footer {
    transition: top 1s;

    width: 100%;
    position: fixed;
    top: calc(100% - 2rem);
    left: 0rem;
    
    background-color: var(--block-default);
    outline: var(--thickness) solid var(--shadow);
    border-top: 1px solid var(--border);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--packing);
    padding: 0.5rem var(--spacing) var(--spacing) var(--spacing);
}

#root>footer:hover {
    transition: top 1s;
    top: calc(100% - 19rem);
}

#root>footer img {
    height: 15rem;
    aspect-ratio: 1;
}

/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
    #root>footer img {
        height: 5rem;
    }
}