.-track-list-stats {
    width: 100%;
    /* padding: var(--spacing); */

    display: flex;
    flex-direction: column;
    gap: var(--packing);
}

.-track-list-stats>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--packing);
}

.-track-list-stats .value {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: var(--roundness);
    background-color: var(--theme-muted);
    border: 1px solid var(--theme-highlight);
    font-family: monospace;
}