
.-track-point-editor {
    width: 100%;
    min-height: 0;
    padding: 1rem;
    
    overflow-y: auto;
    scrollbar-color: var(--text-muted) #00000000;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--packing);
}

/* ------------------------------------------------------- */

.-track-point-editor>li {
    transition: background-color 0.3s;

    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--packing);

    padding: 0.5rem;
    background-color: #00000000;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-inset);
}

.-track-point-editor>li:hover {
    transition: background-color 0.5s;
    background-color: var(--darken);
}

.-track-point-editor>li>samp {
    width: 100%;
    font-family: monospace;
    text-align: center;
}

/* ------------------------------------------------------- */

