
.-track-point-editor {
    width: 100%;
    min-height: 0;
    height: 100%;
    padding: 1rem;
    
    overflow-y: scroll;
    scrollbar-color: var(--text-muted) #00000000;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--packing);
}

/* ------------------------------------------------------- */

.-track-point-editor>li {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-highlight);
    background-color: var(--theme-light);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--packing);

    transition: background-color 0.3s;
}

.-track-point-editor>li:hover {
    transition: background-color 0.5s;
    background-color: var(--theme-highlight);
    
}

.-track-point-editor>li>samp {
    width: 100%;
    height: 100%;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-inset);
    background-color: var(--darken);
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

/* ------------------------------------------------------- */

