
.-track-point-editor {
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 1rem;
    padding-bottom: 0rem;
    
    overflow-y: scroll;
    scrollbar-color: var(--text-muted) #00000000;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--packing);
}

/* ------------------------------------------------------- */

.-track-point-editor>li {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-highlight);
    background-color: var(--theme-light);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--packing);

    transition: background-color 0.3s;
}

.-track-point-editor>li:hover {
    transition: background-color 0.5s;
    background-color: var(--theme-highlight);
    
}

.-track-point-editor>li>samp {
    width: 100%;
    height: 100%;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-inset);
    background-color: var(--darken);
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

/* ------------------------------------------------------- */

.-track-point-editor>section {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-highlight);
    background-color: var(--theme-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--packing);

}

.-track-point-editor>section>.-list {
    width: 100%;
    height: 100%;
    border-radius: var(--roundness);
    box-shadow: var(--shadow-inset);
    background-color: var(--darken);
    padding: 0.5rem;
}


.-track-point-editor>section input[type="range"] {
    appearance: none;
    background: none;
    padding: 0.25rem;
}

.-track-point-editor>section input[type="range"]:focus {
    outline: none;
}

/* ------------------------------------------------------- */

.-track-point-editor>section input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--theme-light);
    border-radius: 0.75rem;
}

.-track-point-editor>section input[type="range"]::-webkit-slider-thumb {
    transition: 0.25s;
    -webkit-appearance: none;
    background-color: var(--accent-default);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 1.5rem;
}

.-track-point-editor>section input[type="range"]::-webkit-slider-thumb:hover {
    transition: 0.5s;
    background-color: var(--accent-highlight);
}

/* ------------------------------------------------------- */

.-track-point-editor>section input[type="range"]::-moz-range-track {
    background-color: var(--theme-light);
    border-radius: 0.75rem;
}

.-track-point-editor>section input[type="range"]::-moz-range-thumb {
    transition: 0.25s;
    background-color: var(--accent-default);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 1.5rem;
}

.-track-point-editor>section input[type="range"]::-moz-range-thumb:hover {
    transition: 0.5s;
    background-color: var(--accent-highlight);
}

/* ------------------------------------------------------- */

.-track-point-editor>section input[type="range"]::-ms-track {
    background-color: var(--theme-light);
    border-radius: 0.75rem;
}

.-track-point-editor>section input[type="range"]::-ms-thumb {
    transition: 0.25s;
    background-color: var(--accent-default);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 1.5rem;
}

.-track-point-editor>section input[type="range"]::-ms-thumb:hover {
    transition: 0.5s;
    background-color: var(--accent-highlight);
}

/* ------------------------------------------------------- */

