
.-track-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 0;
    width: fit-content;

    gap: var(--spacing);
    padding: calc(var(--thickness) * 4);

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--text-default) #00000000;
}


@media screen and (max-width: 768px) {
    .-track-list {
        width: 100%;
    }
}