
.-track-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 0;

    gap: var(--spacing);
    /* padding-left: var(--thickness);
    padding-right: var(--thickness); */
    padding-left: calc(var(--thickness) * 4);
    padding-right: calc(var(--thickness) * 4);

    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: var(--spacing);
    scrollbar-color: var(--text-default) #00000000;
}