
.-front-page {
    min-width: fit-content;
    width: 50%;
    height: 100%;
    min-height: 0rem;

    background-color: var(--darken);
    border-right: var(--thickness) solid var(--theme-muted);
    box-shadow: 0rem 0rem var(--spacing) var(--theme-dark);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing);
    padding-top: 0rem;
    gap: var(--spacing);
}

@media screen and (max-width: 768px) {
    .-front-page {
        width: 100%;
        background: none;
        box-shadow: none;
        border: none;
    }
}

/* ------------------------------------------------------- */

.-front-page>.banner {
    background-color: var(--theme-muted);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0rem var(--thickness) 0rem var(--theme-default);

    background-image: url(/images/banner.webp);
    background-size: 100%;
    background-position: 50% 40%;

    width: 100%;
    max-width: 60rem;
    aspect-ratio: 4;
}

@media screen and (max-width: 768px) {
    .-front-page>.banner {
        aspect-ratio: 3;
        background-size: 150%;
    }
}

/* ------------------------------------------------------- */

