
.-map-page {
    width: 100%;
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing);
}

.-map-page code {
    font-family: monospace;
    color: var(--text-muted);
}
