
.-profile-page>aside {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: max-content;
    height: 100%;
}

.-profile-page>aside>.-card {
    animation-name: slide-up;
    animation-duration: 0.5s;

    box-shadow: var(--shadow-smooth), var(--shadow-sharp), var(--shadow-highlight);
}

/* ------------------------------------------------------- */

.-profile-page>menu {
    min-height: 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

/* ------------------------------------------------------- */

.-profile-page {
    width: 100%;
    height: 100%;
    min-height: 0rem;

    display: grid;
    grid-template-areas: 'a m' '. m';
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 0fr 1fr;
    
    gap: var(--spacing);
    padding: var(--spacing);
}

.-profile-page>menu {grid-area: m;}
.-profile-page>aside {grid-area: a;}

@media screen and (max-width: 768px) {
    .-profile-page {
        display: grid;
        grid-template-areas: 'a' 'm';
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }
    .-profile-page>aside {
        width: auto;
        height: fit-content;
    }
}

/* ------------------------------------------------------- */

@keyframes slide-up {
    0% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}