
.-profile-page>aside {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: max-content;

    background-color: var(--theme-default);
    border-radius: var(--roundness);
    box-shadow: var(--shadow-sharp);
    border: var(--border-accent);

    animation-name: slide-up;
    animation-duration: 0.5s;
}

.-profile-page>aside>ul {
    width: 100%;
    padding: var(--spacing);
}

.-profile-page>aside>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------- */

.-profile-page>menu {
    min-height: 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

/* ------------------------------------------------------- */

.-profile-page {
    min-width: fit-content;
    width: 50%;
    height: 100%;
    min-height: 0rem;

    background-color: var(--darken);
    border-right: var(--thickness) solid var(--theme-muted);
    box-shadow: 0rem 0rem var(--spacing) var(--theme-dark);

    display: grid;
    grid-template-areas: 'a m' '. m';
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 0fr 1fr;
    
    gap: var(--spacing);
    padding: var(--spacing);
}

.-profile-page>menu {grid-area: m;}
.-profile-page>aside {grid-area: a;}

@media screen and (max-width: 768px) {
    .-profile-page {
        display: grid;
        grid-template-areas: 'a' 'm';
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }
    .-profile-page>aside {
        width: auto;
        height: fit-content;
    }
}

/* ------------------------------------------------------- */

@keyframes slide-up {
    0% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}