
.-register-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--spacing);
}

/* ------------------------------------------------------- */

.-register-page div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--packing);
}

.-register-page div.column {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--packing));
}

.-register-page button {
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------- */

.-register-page input {
  background-color: var(--theme-highlight);
  border-radius: var(--roundness);
  border: none;

  color: var(--text-default);
  font-weight: 500;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: inherit;
}
  
.-register-page input:hover {
  background-color: var(--darken);
}

.-register-page input:active {
  background-color: var(--highlight); 
}

.-register-page input:focus {
  outline: 2px solid var(--highlight);
  outline-offset: 2px;
}

/* ------------------------------------------------------- */

.-register-page .error-text {
  height: 100%;
  width: 100%;
  padding: 0.75rem 1.5rem;

  color: var(--invalid-default);
  font-weight: 500;

  background-color: var(--darken);
  border-radius: var(--roundness);
}
