
.view-page {
    min-width: fit-content;
    height: 100%;
    min-height: 0rem;

    background-color: #00000020;
    border-right: var(--thickness) solid var(--shadow);
    box-shadow: 0rem 0rem var(--spacing) var(--shadow);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing);
    gap: var(--spacing);
}

/* ------------------------------------------------------- */

.view-page>canvas {
    height: 100%;
    width: 75%;
    border-radius: var(--roundness);
    border: 1px solid red;
}

.view-page>menu {
    padding: var(--spacing);
    border-top: 1px solid var(--border);
}

/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .view-page {
        width: 100%;
        background: none;
    }
}