
.-map3d {
    width: 100%;
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.-map3d .-card {
    height: 100%;
    width: 100%;
    min-height: 0;
}

.-map3d canvas {
    height: 100%;
    width: 100%;
    min-height: 0;
}

.-map3d footer {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--border);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--packing);
}