
/* ------------------------------------------------------- */

.-map3d {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
}

/* ------------------------------------------------------- */

.-map3d>canvas {
    width: 100%;
    height: 100%;
    min-height: 0;
}

.-map3d>aside {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
}

/* ------------------------------------------------------- */

.-map3d>.-popup header i, .-map3d>.-popup header span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--invalid-default);
    text-shadow: 2px 5px 0px var(--invalid-muted);
}

/* ------------------------------------------------------- */

