
.-map3d {
    width: 100%;
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------- */

.-map3d .-card {
    height: 100%;
    width: 100%;
    min-height: 0;
}

.-map3d canvas {
    height: 100%;
    width: 100%;
    min-height: 0;
}

.-map3d footer {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--border);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--packing);
}

/* ------------------------------------------------------- */

.-map3d-popup header {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--packing);
    color: var(--invalid-default);
}

.-map3d-popup header>i, .-map3d-popup header>span {
    font-size: 2rem;
    color: var(--invalid-default);
    font-weight: bold;
    text-shadow: 2px 5px 0px var(--invalid-muted);
}

.-map3d-popup section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.-map3d-popup button {
    border: none;
}