
/* ------------------------------------------------------- */

.-map-renderer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
}

/* ------------------------------------------------------- */

.-map-renderer>canvas {
    width: 100%;
    height: 100%;
    min-height: 0;
}

.-map-renderer>aside {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--packing);
    align-items: center;
}

/* ------------------------------------------------------- */

.-map-renderer>.-popup header i, .-map-renderer>.-popup header span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--invalid-default);
    text-shadow: 2px 5px 0px var(--invalid-muted);
}

/* ------------------------------------------------------- */

