@import url('../general.css');

body>header {grid-area: h;}
body>main {grid-area: m;}

:root>body {
    background: linear-gradient(0deg, var(--block-muted) 0%, var(--block-highlight) 50%);
    width: 100dvw;
    height: 100dvh;

    display: grid;
    grid-template-areas: 'h' 'm';
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    
    overflow: hidden;
    padding-bottom: calc(2rem + var(--thickness));
}

