@import url('../general.css');

body>footer {
    transition: top 1s;

    width: 100%;
    position: fixed;
    top: calc(100% - 2rem);
    left: 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--packing);
    /* padding: 0.5rem 1rem 0.5rem 1rem; */
    padding: var(--spacing);
    padding-top: 0.5rem;
    background-color: var(--block-default);
    outline: var(--thickness) solid var(--shadow);
    border-top: 1px solid var(--border);
}

body>footer:hover {
    transition: top 1s;
    top: calc(100% - 19rem);
}

body>footer img {
    height: 15rem;
    aspect-ratio: 1;
}

/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
    body>footer img {
        height: 5rem;
    }
}