@import url('../general.css');

body>header {
    width: 100%;
    background-color: var(--block-default);
    outline: var(--thickness) solid var(--shadow);
    border-bottom: 1px solid var(--border);

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: var(--packing);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: var(--thickness);
}

body>header img {
    object-fit: cover;
    height: 3rem;
    aspect-ratio: 1;
    /* border-radius: var(--roundness); */
    border-radius: 50%;
    background-color: var(--block-muted);
}

/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
    body>header button>p {
        display: none;
    }

    body>header button {
        padding: 0rem;
        background: none;
        border: none;
    }
}

