.map-2d {
    /* width: max-content;
    height: fit-content;
    padding: 0rem;
    overflow: hidden; */
  width: 100%;
  height: 100%;
  
  background-color: var(--block-default);
  border-radius: var(--roundness);
  box-shadow: var(--thickness) var(--thickness) 0rem var(--shadow);
  border: 1px solid var(--border);
}

/* .map-2d>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-error {
  padding: 20px;
  color: red;
}

.coord-button {
  padding: 6px 10px;
  background: white;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.coord-button:hover {
  background-color: lightgreen;
  transition: 500ms;
}

.coord-button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.coord-button:disabled:hover {
  background-color: red;
  color: white;
  transition: 500ms;
}
