
main {
    min-width: fit-content;
    width: 60%;
    height: 100%;
    min-height: 0rem;

    background-color: #00000020;
    border-right: var(--thickness) solid var(--shadow);
    box-shadow: 0rem 0rem var(--spacing) var(--shadow);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing);
    padding-top: 0rem;
    gap: var(--spacing);
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        background-color: none;
    }
}

/* ------------------------------------------------------- */

main .banner {
    background-color: var(--shadow);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0rem var(--thickness) 0rem var(--block-default);

    background-image: url(/images/banner.webp);
    background-size: 100%;
    background-position: 50% 40%;

    width: 100%;
    max-width: 60rem;
    aspect-ratio: 4;
}

@media screen and (max-width: 768px) {
    main .banner {
        aspect-ratio: 3;
        background-size: 150%;
    }
}

/* ------------------------------------------------------- */

