
aside {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: max-content;

    background-color: var(--block-default);
    border-radius: var(--roundness);
    box-shadow: var(--thickness) var(--thickness) 0rem var(--shadow);
    border: 1px solid var(--border);

    animation-name: slide-up;
    animation-duration: 0.5s;
}

aside ul {
    width: 100%;
    padding: var(--spacing);
}

aside li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------- */

menu {
    min-height: 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

/* ------------------------------------------------------- */

main {
    height: 100%;
    min-height: 0rem;
    
    display: grid;
    grid-template-areas: 'a m';
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr;
    
    gap: var(--spacing);
    padding: var(--spacing);
}

menu {grid-area: m;}
aside {grid-area: a;}

@media screen and (max-width: 768px) {
    main {
        display: grid;
        grid-template-areas: 'a' 'm';
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }
    aside {
        width: auto;
        height: fit-content;
    }
}

/* ------------------------------------------------------- */

@keyframes slide-up {
    0% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translate(200%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}