
/* ------------------------------------------------------- */

.-profile-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--packing);
    padding: 0.5rem 1rem;

    border-radius: var(--roundness);
    background-color: var(--accent-muted);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
}

.-profile-search>input {
    background-color: var(--darken);
}

/* ------------------------------------------------------- */