
/* ------------------------------------------------------- */

.-profile-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--packing);
  padding: 0.5rem 1rem;

  border-radius: var(--roundness);
  background-color: var(--accent-muted);
  box-shadow: var(--shadow-highlight);
}

/* ------------------------------------------------------- */
  
.-profile-search input {
  cursor: pointer;
  padding: 0.5rem 1rem;

  font-size: inherit;
  font-weight: 500;

  background: none;
  border-radius: var(--roundness);
  box-shadow: var(--shadow-inset);
  border: none;
}
  
.-profile-search input:hover {
  background-color: var(--darken);
}

.-profile-search input:active {
  background-color: var(--highlight); 
}

.-profile-search input:focus {
  outline: none;
}

/* ------------------------------------------------------- */