
:root {
    --theme-light: #313738;
    --theme-highlight: #313738;
    --theme-default: #1b1f1f;
    --theme-muted: #0f1314;
    --theme-dark: #090b0c;

    --accent-highlight: #91b95b;
    --accent-default: #2f6b4e;
    --accent-muted: #2b3d42;

    --invalid-highlight: #c5707e;
    --invalid-default: #cf3173;       
    --invalid-muted: #3b1826;

    --text-default: #ffffff;            
    --text-muted: #979797;

    --highlight: #ffffff40;
    --darken: #00000040;

    --shadow-highlight: inset 0px 1px 0px var(--highlight);
    --shadow-accent: inset 0px 1px 0px var(--accent-default);
    --shadow-smooth: 0px 0px 5px #00000080, 0px 0px 2rem #00000040;
    --shadow-inset: inset var(--shadow-smooth), inset 0px -1px 0px var(--highlight);
    --shadow-sharp: var(--thickness) var(--thickness) 0px var(--theme-muted);

    --border-highlight: 1px solid var(--highlight);
    --border-accent: 1px solid var(--accent-default);
    --border-darken: 1px solid var(--darken);

    /* --invalid-highlight: #cf573c;
    --invalid-default: #752438;       
    --invalid-muted: #241527; */

    /* --block-highlight: #423952;
    --block-default: #373141;         
    --block-muted: #272225;

    --accent-highlight: #7a9c96;
    --accent-default: #486b7f;        
    --accent-muted: #444760; */

    /* --block-highlight: #515764;
    --block-default: #3c3f46;
    --block-muted: #26292d;

    --accent-highlight: #a7dfe9;
    --accent-default: #446077;
    --accent-muted: #2e3850; */

    font-size: 16px;
    --roundness: 0.5rem;
    --thickness: 0.5rem;
    --spacing: 2rem;
    --packing: 0.5rem;
}

@media screen and (max-width: 768px) {
    :root {
        --spacing: 1rem;
        --thickness: 0.25rem;
        font-size: 14px;
    }
}

/* ------------------------------------------------------- */

/* WIP - light mode */
/* @media (prefers-color-scheme: light) {
    :root {
        --block-highlight: #f1f6f0;
        --block-default: #d5d6db;         
        --block-muted: #303843;

        --accent-muted: #91b95b;
        --accent-default: #2f6b4e;
        --accent-highlight: #2b3d42;

        --text-default: black;            
        --text-muted: rgb(69, 69, 69);

        --shadow: var(--block-muted);     
        --border: var(--accent-default);   
    } 
} */

/* ------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text-default);
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    border-radius: 1px;
    border-color: var(--accent-default);
}

/* ------------------------------------------------------- */

#root {
    background: linear-gradient(0deg, var(--theme-muted) 0%, var(--theme-highlight) 50%);
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
    overflow-y: hidden;
    padding-bottom: calc((2rem + var(--thickness)));
}

/* ------------------------------------------------------- */

