
:root {
    --block-highlight: #313738;
    --block-default: #1b1f1f;
    --block-muted: #0f1314;

    --accent-highlight: #91b95b;
    --accent-default: #2f6b4e;
    --accent-muted: #2b3d42;

    --invalid-highlight: #c5707e;
    --invalid-default: #cf3173;       
    --invalid-muted: #3b1826;

    --text-default: #ffffff;            
    --text-muted: #979797;

    --shadow: var(--block-muted);     
    --border: var(--accent-default);  

    /* --invalid-highlight: #cf573c;
    --invalid-default: #752438;       
    --invalid-muted: #241527; */

    /* --block-highlight: #423952;
    --block-default: #373141;         
    --block-muted: #272225;

    --accent-highlight: #7a9c96;
    --accent-default: #486b7f;        
    --accent-muted: #444760; */

    /* --block-highlight: #515764;
    --block-default: #3c3f46;
    --block-muted: #26292d;

    --accent-highlight: #a7dfe9;
    --accent-default: #446077;
    --accent-muted: #2e3850; */

    font-size: 16px;
    --roundness: 0.5rem;
    --thickness: 0.5rem;
    --spacing: 2rem;
    --packing: 0.5rem;
}

@media screen and (max-width: 768px) {
    :root {
        --spacing: 1rem;
        --thickness: 0.25rem;
        font-size: 14px;
    }
}

/* ------------------------------------------------------- */

/* WIP - light mode */
/* @media (prefers-color-scheme: light) {
    :root {
        --block-highlight: #f1f6f0;
        --block-default: #d5d6db;         
        --block-muted: #303843;

        --accent-muted: #91b95b;
        --accent-default: #2f6b4e;
        --accent-highlight: #2b3d42;

        --text-default: black;            
        --text-muted: rgb(69, 69, 69);

        --shadow: var(--block-muted);     
        --border: var(--accent-default);   
    } 
} */

/* ------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text-default);
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    border-radius: 1px;
    border-color: var(--border);
}

/* ------------------------------------------------------- */

#root {
    background: linear-gradient(0deg, var(--block-muted) 0%, var(--block-highlight) 50%);
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
    overflow-y: hidden;
    padding-bottom: calc((2rem + var(--thickness)));
}

/* ------------------------------------------------------- */

