
/* GLOBAL VARIABLES */

:root { 
    --theme-light: #313738;
    --theme-highlight: #313738;
    --theme-default: #1b1f1f;
    --theme-muted: #0f1314;
    --theme-dark: #090b0c;

    --accent-highlight: #91b95b;
    --accent-default: #2f6b4e;
    --accent-muted: #2b3d42;

    --invalid-highlight: #c5707e;
    --invalid-default: #cf3173;       
    --invalid-muted: #3b1826;

    --text-default: #ffffff;            
    --text-muted: #979797;

    --highlight: #ffffff40;
    --darken: #00000040;

    --shadow-highlight: inset 0px 1px 0px var(--highlight);
    --shadow-accent: inset 0px 1px 0px var(--accent-default);
    --shadow-smooth: 0px 0px 5px #00000080, 0px 0px calc(var(--thickness) * 4) #00000040;
    --shadow-inset: inset 0px 0px 5px #00000080, inset 0px 0px calc(var(--thickness) * 4) #00000040, inset 0px -1px 0px var(--highlight);
    --shadow-sharp: var(--thickness) var(--thickness) 0px var(--theme-muted);

    --border-highlight: 1px solid var(--highlight);
    --border-accent: 1px solid var(--accent-default);
    --border-darken: 1px solid var(--darken);

    --roundness: 0.5rem;
    --thickness: 0.5rem;
    --spacing: 2rem;
    --packing: 0.5rem;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    :root {
        --spacing: 1rem;
        --thickness: 0.25rem;
        font-size: 14px;
    }
}

/* ------------------------------------------------------- */

/* GLOBAL STYLING */

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: TASA_Orbiter;
    color: var(--text-default);
}

a {
    text-decoration: none;
}

em {
    color: var(--text-muted);
    font-style: normal;
}

h1 {
    font-family: Audiowide;
    font-weight: normal;
}

h1, h2 {
    text-shadow: 2px 5px 0px var(--darken), 0px 0px 2rem var(--highlight);
}

strong {
    color: var(--accent-highlight);
}

/* ------------------------------------------------------- */

/* ROOT ELEMENT STYLING */

#root {
    background: linear-gradient(0deg, var(--theme-muted) 0%, var(--theme-highlight) 50%);
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
    overflow-y: hidden;
    padding-bottom: calc((2rem + var(--thickness)));
}

/* ------------------------------------------------------- */

/* FONT IMPORTS */

@font-face {
    font-family: TASA_Orbiter;
    src: url(/fonts/TASA_Orbiter/TASAOrbiter-VariableFont_wght.ttf);
}

@font-face {
    font-family: Audiowide;
    src: url(/fonts/Audiowide/Audiowide-Regular.ttf);
}


/* ------------------------------------------------------- */