
:root {
    /* main colors */
    --block-highlight: #313738;
    --block-default: #1b1f1f;
    --block-muted: #0f1314;

    /* highlight color */  
    --accent-highlight: #91b95b;
    --accent-default: #2f6b4e;
    --accent-muted: #2b3d42;

    /* alternative highlight color, for errors/warnings */
    --invalid-highlight: #bb474f;
    --invalid-default: #713f52;       
    --invalid-muted: #423952;

    /* regular text */
    --text-default: white;            
    /* text in interactable elements that are disabled */
    --text-muted: rgb(193, 193, 193);

    /* shadows for large elements */
    --shadow: var(--block-muted);     
    /* 1px border around large elements */  
    --border: var(--accent-default);  

    /* --block-highlight: #423952;
    --block-default: #373141;         
    --block-muted: #272225;

    --accent-highlight: #7a9c96;
    --accent-default: #486b7f;        
    --accent-muted: #444760; */

    /* --block-highlight: #515764;
    --block-default: #3c3f46;
    --block-muted: #26292d;

    --accent-highlight: #a7dfe9;
    --accent-default: #446077;
    --accent-muted: #2e3850; */
}

:root {
    font-size: 16px;        /* global page sizing, everything should use "rem" unit */
    --roundness: 0.5rem;    /* global border radius */
    --thickness: 0.5rem;    /* width of borders/shadows */
    --spacing: 2rem;        /* distance between large elements (page layout)*/
    --packing: 0.5rem;      /* distance between small elements (lists) */
}

/* WIP - light mode */
/* @media (prefers-color-scheme: light) {
    :root {
        --block-highlight: #f1f6f0;
        --block-default: #d5d6db;         
        --block-muted: #303843;

        --accent-muted: #91b95b;
        --accent-default: #2f6b4e;
        --accent-highlight: #2b3d42;

        --text-default: black;            
        --text-muted: rgb(69, 69, 69);

        --shadow: var(--block-muted);     
        --border: var(--accent-default);   
    } 
} */

/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
    :root {
        --spacing: 1rem;
        --thickness: 0.25rem;
        font-size: 14px;
    }
}

/* ------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: relative;
    color: var(--text-default);
}

a {
    text-decoration: none;
    color: var(--text-default);
}

a:empty {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 10;
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--packing);
}

hr {
    width: 100%;
    border-radius: 1px;
    border-color: var(--border);
}

/* ------------------------------------------------------- */

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--packing);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--packing);
}

.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    align-items: start;
}

.right {
    align-items: end;
}

.wide {
    align-items: stretch;
}

.value {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: var(--roundness);
    background-color: var(--block-muted);
    border: 1px solid var(--block-highlight);
}

/* ------------------------------------------------------- */

