app:
  hostname: ${HOSTNAME}
  frontend-url: "https://planinarko.onrender.com"
server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
spring:
  application:
    name: progi-projekt
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
