
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing);
    gap: var(--spacing);
}

/* ------------------------------------------------------- */

body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    display: grid;
    grid-template-areas: 'h' 'm';
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
}

header {grid-area: h;}
footer {grid-area: f;}
main {grid-area: m;}

/* ------------------------------------------------------- */

