
body>* {
    background-color: var(--section);
    /* padding: 1rem; */
}

body>nav, body>main {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    border-radius: var(--roundness);
    box-shadow: 1rem 1rem 0rem var(--shadow);
}

/* ------------------------------------------------------- */

body {
    width: 100dvw;
    height: 100dvh;

    display: grid;
    grid-template-areas: 'h h' 'n m' 'f f';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;

    gap: var(--spacing);
}

header {grid-area: h;}
footer {grid-area: f;}
main {grid-area: m;}
nav {grid-area: n;}

/* ------------------------------------------------------- */

