
:root {
    --block-highlight: #423952;
    --block-default: #373141;
    --block-muted: #272225;

    --accent-highlight: #7a9c96;
    --accent-default: #486b7f;
    --accent-muted: #444760;

    --invalid-highlight: #bb474f;
    --invalid-default: #713f52;
    --invalid-muted: #423952;

    --background: var(--block-highlight);
    --shadow: var(--block-muted);
    --border: var(--accent-default);

    /* --block-default: #2f3140;
    --background: #182029;
    --block-muted: black; */

    /* --block-default: #1b1f1f;
    --background: #313738;
    --block-muted: #0f1314;

    --accent-highlight: #b6c77e;
    --accent-default: #878b5a;
    --accent-muted: #6a6d46; */

    --text-default: light-dark(black, white);
    --text-muted: light-dark(black, white);
}

:root {
    font-size: 16px;
    --roundness: 0.5rem;
    --spacing: 2rem;
    --thickness: 0.5rem;
    --packing: 0.5rem;
    color-scheme: dark;
}

@media screen and (max-width: 768px) {
    :root {
        --spacing: 1rem;
    }
}