
body {
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--section);
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: var(--packing);
    /* box-shadow: 0rem 0rem 1rem var(--shadow); */
    outline: var(--thickness) solid var(--shadow);
    border-bottom: 1px solid var(--accent-default);
}

footer {
    width: 100dvw;
    position: absolute;
    bottom: 0rem;
    left: 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--section);
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: var(--packing);
    /* box-shadow: 0rem 0rem 1rem var(--shadow); */
    outline: var(--thickness) solid var(--shadow);
    border-top: 1px solid var(--accent-default);
}

footer>div {
    transition: height 1s, opacity 0.25s;
    opacity: 0%;
    height: 0rem;
}

footer:hover>div {
    transition: height 1s, opacity 1s;
    opacity: 100%;
    height: 20rem;
}

footer img {
    height: 15rem;
    aspect-ratio: 1;
}

/* ------------------------------------------------------- */

header img {
    object-fit: cover;
    height: 4rem;
    aspect-ratio: 1;
}

