
body {
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: var(--packing);
    box-shadow: 0rem 0rem 1rem var(--shadow);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    gap: var(--packing);
    box-shadow: 0rem 0rem 1rem var(--shadow);
}

/* ------------------------------------------------------- */

header img {
    object-fit: cover;
    height: 4rem;
    aspect-ratio: 1;
}

