@import url('./general.css');

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:empty {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 10;
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--packing);
}

hr {
    width: 100%;
    border-radius: 1px;
    border-color: var(--border);
}

/* ------------------------------------------------------- */

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--packing);
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--packing);
}

.centered {
    justify-content: center;
    align-items: center;
}

.left {
    align-items: start;
}

.right {
    align-items: end;
}

.wide {
    align-items: stretch;
}

/* ------------------------------------------------------- */

*[tooltip] {
    position: relative;
}

*[tooltip]:hover:after {
    content: attr(tooltip);

    position: absolute;
    top: calc(100% + 1rem);
    left: 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    
    /* border-radius: var(--roundness);
    background-color: var(--block-default);
    border: 1px solid var(--accent-default);
    box-shadow: var(--thickness) var(--thickness) 0rem var(--shadow); */
    background-color: var(--shadow);
    box-shadow: 0rem 0rem 1rem var(--shadow);

}

/* ------------------------------------------------------- */

.value {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: var(--roundness);
    background-color: var(--block-muted);
    border: 1px solid var(--block-highlight);
}

/* ------------------------------------------------------- */

button {
    transition: background-color 0.25s;
    user-select: none;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--packing);

    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: var(--roundness);
    background-color: var(--accent-muted);
    /* box-shadow: var(--thickness) var(--thickness) 0rem var(--accent-muted); */
    border: 1px solid var(--accent-highlight);
}

button:hover {
    transition: background-color 0.25s;
    cursor: pointer;
    background-color: var(--accent-default);
}

button:active {
    transition: background-color 0.1s;
    background-color: var(--accent-highlight);
}

button .square {
    padding: 0.5rem;
    aspect-ratio: 1;
}

button .round {
    border-radius: 50%;
    padding: 0.5rem;
    aspect-ratio: 1;
}

/* ------------------------------------------------------- */

.route {
    transition: background-color 0.25s;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    gap: var(--spacing);
    min-width: fit-content;
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;

    background-color: var(--accent-muted);
    border-radius: var(--roundness);
    box-shadow: var(--thickness) var(--thickness) 0rem var(--shadow);
    border: 1px solid var(--border);
}

.route:hover {
    transition: background-color 0.25s;
    background-color: var(--accent-default);
    border-color: var(--accent-highlight);
}

/* ------------------------------------------------------- */

