
.-app-body {
    width: 100%;
    height: 100%;
    min-height: 0;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: calc((2rem + var(--thickness)));
}

/* ------------------------------------------------------- */

.-app-body>div {
    height: 100%;
    min-height: 0;
    width: 100%;
    
}

.-app-body.thin>div {
    min-width: fit-content;
    width: 50%;

    border-right: var(--thickness) solid var(--theme-muted);
    box-shadow: 0rem 0rem var(--spacing) var(--theme-dark);
    background-color: var(--darken);
}

.-app-body.animated>div {
    backdrop-filter: blur(8px);
}

.-app-body.animated.thin>div {
    border-left: var(--border-highlight);
    border-right: var(--border-highlight);
}

/* ------------------------------------------------------- */

.-app-body.centered>div {
    width: 100%;
    padding: var(--spacing);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------- */

.-app-body.nofooter {
    margin-bottom: 0rem;
}

/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .-app-body.thin>div {
        width: 100%;
        background: none;
        box-shadow: none;
        border: none;
        backdrop-filter: none;
    }

    .-app-body.animated>div {
        backdrop-filter: none;
    }
}

/* ------------------------------------------------------- */