
.-list {
    display: flex;
}

.-list.row {
    flex-direction: row;
}

.-list.column {
    flex-direction: column;
}

.-list.wrap {
    flex-wrap: wrap;
}

/* ------------------------------------------------------- */

.-list.small {
    gap: var(--packing);
}

.-list.medium {
    gap: calc(var(--packing) * 2);
}

.-list.large {
    gap: var(--spacing);
}

/* ------------------------------------------------------- */

.-list.justify-start {
    justify-content: start;
}

.-list.justify-end {
    justify-content: end;
}

.-list.justify-center {
    justify-content: center;
}

/* ------------------------------------------------------- */

.-list.align-start {
    align-items: start;
}

.-list.align-end {
    align-items: end;
}

.-list.align-center {
    align-items: center;
}

/* ------------------------------------------------------- */