.-particle-canvas {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .-particle-canvas {
        display: none;
    }
}