
.-popup {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--darken);
    z-index: 500;
    padding: var(--spacing);
    backdrop-filter: blur(5px);
}

.-popup>* {
    z-index: 501;
}   
