
.-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--packing);
}

.-switch>p {
    text-shadow: 2px 2px 0px black;
}

.-switch>div {
    height: fit-content;
    width: 3rem;
    background-color: var(--theme-highlight);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-inset);
}

.-switch>div:hover {
    background-color: var(--theme-light);
}

.-switch>div>div {
    background-color: var(--highlight);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    transform: translate(0%, 0%);
    box-shadow: var(--shadow-highlight);
    transition: transform 0.3s;
}

.-switch>div.on>div {
    transition: transform 0.3s;
    transform: translate(100%, 0%);
}